{% extends 'socialize/bases/bases.html' %}

{% load static %}

{% block title %}{{ socialize.title }}{% endblock %}

{% block sites_css %}
<link rel="stylesheet" href="{% static 'socialize/styles/socializes-details.css' %}">
{% endblock %}

{% block main_headings %}
{{ socialize.title }}
{% endblock %}

{% block body %}

{% if socialize_found %}
<article>
  <img id="main-image" src={{ socialize.image.url }} alt="{{ socialize.title }}">

  <section id="location">
   <h2>Event Location</h2>
   <address>This meetup takes place in <span>{{ socialize.location.name }}</span> ({{ socialize.location.address }}).</address>
  </section>

  <section id="details">
  <h2>The Event description</h2>
  <p>{{ socialize.description }}</p>
  <footer>
  <p>Do want to see more information? Please <a href="mailto:{{ socialize.supervisor_email }}">Contact the event orgraniser</a> (but don't spam us ;-)).</p>
  </footer>
  </section>

   <section id="registration">
     <h2>Register here to Join the Event!</h2>
      <form action="{% url 'reg_com' socialize.slug %}" method="POST">
      {% csrf_token %}
       <ul>
        <li>Email: {{ user.email }}</li>
        <li>Phone: {{user.phone }}</li>
       </ul>
       <div id="registration-actions">
        <button action="{% url 'reg_com' socialize.slug %}" method="POST">Register</button>
      </div>
     </form>
   </section>
  </article>

{% endif %}

{% endblock %}
</body>
</html>
