

{% load static %}
{% block content %}

{% include 'cssjslink.html' %}  
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<style>
  .home-container {
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
  }
  .thumbnail {
    border-radius: 8px;
    width: 250px;
    height: 400px;
  }

  .larger-button {
    width: 200px;
    height: 40px;
  }
 
</style>

<div>
  {% include 'navbar.html' %}
</div>

<div class="home-container">
  <div>
    <img class="thumbnail" src="{{ anime.image.url }}" alt="{{ anime.name }}">
    <br>
    <div style="margin-top: 20px; margin-left: 30px;">
      <button class="favorite-toggle larger-button" data-anime-id="{{ anime.id }}" {% if anime.is_favorite %}style="background-color: green;"{% endif %}>
        {% if anime.is_favorite %}Remove from Favorites{% else %}Add to Favorites{% endif %}
      </button>
    </div>
    <h4 style="margin-top: 10px; margin-left: 10px;">Overall Ratings: <i style="color:orange; text-align: justify;">{{ rating.rating__avg|floatformat:-1 }}</i></h4>
    <div style="margin-top: 10px; margin-left: 10px;">
      <form method="POST" action="">
        {% csrf_token %}
        <h4>Give your Ratings</h4>
        <input type="number" name="rating" min="1" max="5"/>
        <button type="submit">Submit Rating</button>
      </form>
      </div>
  </div>

  <div>
    <h2>{{ anime.name }}</h2>
  <p style="color: black;"> <b>Studio:</b> {{ anime.studio }}</p>
  <p style="color: black;"> <b>Release Date:</b> {{ anime.release_date }}</p>
  <p style="color: black;"><b>Genre:</b> {{ anime.genres.all|join:', ' }}</p>
  <p style="color: black;"><b>Views:</b> {{ anime.views }}</p>
  <p style="color: black;"><b>Description:</b> {{ anime.description }}</p>
  </div>

  <div style="border: 3px solid grey; padding: 5px;">
    <h3 style="color: black;">Episodes</h3>
    <ol>
      {% for episode in episodes %}
        <div class="d-grid gap-2" >
          <li>
            <a href="{% url 'episode-detail' episode.id %}">Episode - {{ episode.number }}: {{ episode.name }} - {{ episode.release_date }}</a>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          </li>
        </div>
      {% endfor %}
    </ol>
  </div>
</div>
{% include 'footer.html' %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toggleButtons = document.querySelectorAll('.favorite-toggle');

    toggleButtons.forEach(button => {
      button.addEventListener('click', function() {
        const animeId = this.getAttribute('data-anime-id');
        toggleFavorite(animeId, this);
      });
    });

    function toggleFavorite(animeId, button) {
      fetch(`/toggle_favorite/${animeId}/`)
        .then(response => response.json())
        .then(data => {
          if (data.is_favorite) {
            button.style.backgroundColor = 'green';
            button.textContent = 'Remove from Favorites';
          } else {
            button.style.backgroundColor = 'white';
            button.textContent = 'Add to Favorites';
          }

          // Update the local storage with the latest favorited status
          const storedAnimeData = JSON.parse(localStorage.getItem('animeData')) || {};
          storedAnimeData[animeId] = data.is_favorite;
          localStorage.setItem('animeData', JSON.stringify(storedAnimeData));
        })
        .catch(error => console.error('Error:', error));
    }

    const storedAnimeData = JSON.parse(localStorage.getItem('animeData')) || {};
    Object.keys(storedAnimeData).forEach(animeId => {
      const button = document.querySelector(`.favorite-toggle[data-anime-id="${animeId}"]`);
      if (button) {
        const isFavorite = storedAnimeData[animeId];
        if (isFavorite) {
          button.style.backgroundColor = 'green';
          button.textContent = 'Remove from Favorites';
        }
      }
    });
  });
</script>

{% endblock %}