{% load static %}
{% block content %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    {% include 'cssjslink.html' %}
    <link href="{% static 'css/genre.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .uppa {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    
        .main-body {
            flex: 1;
            width: 1100px;
        }

        .centbox {
            max-width: 900px;
            margin: 0 auto;
         }

    </style>

</head>
<body>
    <div>
        {% include 'navbar.html' %}
    </div>
    <div class="container uppa">
        <div class="main-body">
            <h2 class="h11">Order History</h2>

            {% if orders %}
                {% for order in orders %}
                    <div class="rounded" style="border: 3px solid #ccc; padding:10px;">
                        Name: {{ user.name }}<br>
                        Address: {{ user.address }}<br>
                        Order ID: {{ order.id }}<br>
                        Transaction ID: {{ order.transaction_id }}<br>
                        Date & Time of Order: {{ order.date_ordered }}<br>
                        Total: ${{ order.get_cart_total }}<br>
                        <hr>
                            <button class="btn btn-outline-success" data-toggle="collapse" data-target="#description{{ order.id }}" style="background-color: white; color: grey; border: 1px solid black;">Detail</button>
                        
                        <div class="row">
                            <div class="col-lg-6 centbox">
                                <div class="box-element">
                                    <div id="description{{ order.id }}" class="collapse" style="border: 2px solid grey; padding: 2px; margin: 0 auto;">
                                        <hr>
                                        <h5>Order Summary</h5>
                                        <hr>
                                        {% for item in order.orderitem_set.all %}
                                            <div class="cart-row">
                                                <div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}" style="width: 75px; height: 75px;"></div>
                                                <div style="flex:2"><p>Name: {{ item.product.name }}</p></div>
                                                <div style="flex:1"><p>Quantity: {{ item.quantity }}</p></div>
                                                <div style="flex:1"><p>Product Total: {{ item.product.price }}</p></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>You haven't placed any orders yet.</p>
            {% endif %}

        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
{% endblock content %}