{% extends 'store/main.html' %}
{% load static %}
{% block title %}Confirmation{% endblock title %}
{% block content %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    </head>
    <body class="generic-template">

        <table cellpadding="0" cellspacing="0" cols="1">
            <tr>
                <td height="50"></td>
            </tr>

            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" cols="1">
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </table>

                    <table align="center" cellpadding="0" cellspacing="0" cols="3" class="bordered-left-right">
                        <tr height="50"><td colspan="3"></td></tr>
                        <tr align="center">
                            <td width="36"></td>
                            <td class="text-primary">
                                <img src="http://dgtlmrktng.s3.amazonaws.com/go/emails/generic-email-template/tick.png" alt="GO" width="50">
                            </td>
                            <td width="36"></td>
                        </tr>
                        <div class= textbox>
                            <tr height="17"><td colspan="3"></td></tr>
                            <tr align="center">
                                <td width="36"></td>
                                <td class="text-primary">
                                    <h1>Payment received</h1>
                                </td>
                                <td width="36"></td>
                            </tr>
                            <tr height="30"><td colspan="3"></td></tr>
                            <tr align="center">
                                <td width="300"></td>
                                <td>
                                    <p style="font-size: 30px;">Dear Customer,</p>
                                </td>
                                <td width="36"></td>
                            </tr>
                            <tr height="10"><td colspan="3"></td></tr>
                            <tr align="center">
                                <td width="36"></td>
                                <td>
                                    <p style="font-size: 30px;">Your transaction was successful!</p>
                                    <br>
                                    <p><strong><a href="{% url 'recipt' %}">Payment Details</a></strong><br/>
                                    <p style="font-size: 30px;">Please use our services again. Thank you.&nbsp;&nbsp;&nbsp;&nbsp;<br/></p>
                                </td>
                        </div>
                            <td width="36"></td>
                        </tr>
                        <tr height="30">
                            <td></td>
                            <td style="border-bottom: 1px solid #D3D1D1;"></td>
                            <td></td>
                        </tr>
                        <tr height="30"><td colspan="3"></td></tr>

                        <tr height="50">
                            <td colspan="3"></td>
                        </tr>

                    </table>

                    <table cellpadding="0" cellspacing="0" cols="1">
                        <tr>
                            <td height="50"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        {% include 'footer.html' %}
    </body>
</html>
{% endblock %}
