{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<head>
    <style>
      .centbox {
         max-width: 900px;
         margin: 0 auto;
      }

      .center-container {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>
</head>
<body>
    <div class="col-lg-6 centbox">
        <hr>
        <h2 style="text-align: center;"><strong>Order Recipt</strong></h2>
        <hr>
        <div class="box-element">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Username:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.username }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Full Name:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.name }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Email:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.email }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Gender:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.gender }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Phone Number:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.phone }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Address:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ user.address }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Order Time:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span id="order-time" style="color: black;"></span>
                    </div>
                </div>                                               
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Transaction ID:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ trn }}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" style="color: black;">Payment Validation ID:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span style="color: black;">{{ val_id }}</span>
                    </div>
                </div>
                <hr>
                <div class="box-element">
                    <h3>Order Summary</h3>
                    <hr>
                    {% for item in items %}
                        <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}"></div>
                            <div style="flex:2"><p>{{ item.product.name }}</p></div>
                            <div style="flex:1"><p>{{ item.product.price }}</p></div>
                            <div style="flex:1"><p>{{ item.quantity }}</p></div>
                        </div>
                    {% endfor %}
                    <h5>Items: {{ order.get_cart_items }}</h5>
                    <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
                    
                </div>
            </div>
        </div>
    </div>
    <div style="font-size: 1.5em; text-align: center; padding: 10px 15px;">
        <button type="button" onclick="downloadPDF()">Download Recipt</button>
    </div>
    {% include 'footer.html' %}
</body> 

<script>
    function downloadPDF() {
        var dlpdf = document.querySelector('.centbox');

        var username = "{{ user.username }}"; 
        var trn = "{{ trn }}";

        var filename = `${username}-invoice-${trn}.pdf`;
        html2pdf().from(dlpdf).save(filename);
    }
</script>

<script>
    var currentTime = new Date();
    var hours = currentTime.getHours() % 12 || 12;
    var ampm = currentTime.getHours() >= 12 ? 'PM' : 'AM';
    var formattedTime = hours.toString().padStart(2, '0') + ':' +
                        currentTime.getMinutes().toString().padStart(2, '0') + 
                        ' ' + ampm + ' | ' +
                        currentTime.getDate() + '/' +
                        (currentTime.getMonth() + 1) + '/' +
                        currentTime.getFullYear();

    document.getElementById('order-time').innerText = formattedTime;
</script>

{% endblock %}