{% extends 'store/main.html' %}

{% block content %}
{% load static %}

<style>
    .highbar {
        border: 2px solid #ccc;
        border-radius: 5px; 
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 1px; 
        align-items: center; 
    }

    .highbar .sorta label {
        margin-right: 5px;
    }

    #searchInput {
        width: 400px;
    }

    .srcbtn {
        background-color: lightgrey;
        color: black; 
        border: 1px solid black;
    }

    .highbar .sorta {
        margin: 0 auto;
    }

    .current {
        margin-right: 3px
    }

</style>

<script>
    function sortProducts(sortBy) {
        window.location.href = "?sort_by=" + sortBy;
    }
</script>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Products</h1>
        </div>

        <!-- Search & Sort-->
        <div class="row highbar justify-content-center">
            <div class="col-md-7 text-center search">
                <form method="GET" class="form-inline">
                    <div class="form-group mx-3">
                        <label for="searchInput" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="searchInput" name="q" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary srcbtn">Search</button>
                </form>
            </div>
            <div class="col-md-5 text-center sorta">
                <label for="sortSelect" class="form-label">Sort By:</label>
                <select class="form-select" id="sortSelect" onchange="sortProducts(this.value)">
                    <option value="default" {% if sort_by == 'default' %}selected{% endif %}>Old to New</option>
                    <option value="new_arrival" {% if sort_by == 'new_arrival' %}selected{% endif %}>New to Old</option>
                    <option value="low_to_high" {% if sort_by == 'low_to_high' %}selected{% endif %}>Price Low to High</option>
                    <option value="high_to_low" {% if sort_by == 'high_to_low' %}selected{% endif %}>Price High to Low</option>
                </select>
            </div>
        </div>

        <!-- Product Display -->
        <div class="row g-5">
            {% for product in products %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden" style="border: 2px solid #ccc;">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="thumbnail" src="{{ product.image.url }}" style="width: 100%; height: auto; aspect-ratio: 4/4;" />
                        </div>
                        <div class="p-4">
                            <div style="margin-bottom: 10px">
                                <h6><strong>{{ product.name }}</strong></h6>
                                <hr>
                                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                <button class="btn btn-outline-success" data-toggle="collapse" data-target="#description{{ product.id }}" style="background-color: white; color: grey; border: 1px solid black;">Detail</button>
                                <h4 style="display:inline-block; float: right;">৳{{ product.price|floatformat:2 }}</h4>
                            </div>
                            <div id="description{{ product.id }}" class="collapse" style="border: 2px solid grey; padding: 2px; margin: 0 auto;">
                                <p><strong>Description:</strong> {{ product.description }}</p>
                                <p><strong>Anime:</strong> {{ product.related_anime }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>        

        <!-- Paging System -->
        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1&sort_by={{ sort_by }}"> First </a>
                    <a href="?page={{ products.previous_page_number }}&sort_by={{ sort_by }}"> Previous </a>
                {% endif %}

                <span class="current">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}   
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}&sort_by={{ sort_by }}"> Next </a>
                    <a href="?page={{ products.paginator.num_pages }}&sort_by={{ sort_by }}"> Last </a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

<div>
    {% include 'footer.html' %}
</div>

{% endblock content %}
