
{% load i18n %}
{% load allauth account socialaccount %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Sign In" %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}" class="btn btn-primary home-button">{% trans "Home" %}</a>
    
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Log In</h3>
                </div>
                <div class="card-body">
                    {% url 'account_login' as login_url %}
                    {% element form form=form method="post" action=login_url tags="entrance,login" %}
                    {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                            {% if redirect_field_value %}
                            <input type="hidden"
                            name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                            {% endif %}
                        {% endslot %}
                        {% slot actions %}
                        <div class = "logbut d-flex justify-content-center h-100">
                            {% element button type="submit" tags="prominent,login" %}
                            {% trans "Log In" %}
                            {% endelement %}
                        </div>
                        {% endslot %}
                        {% endelement %}
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                        <p>
                            {% blocktrans %}Don't have an account?
                            <a href="{{ signup_url }}">Sign Up</a>{% endblocktrans %}
                        </p>
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    {% include 'footer.html' %}
</body>
</html>   
