
{% load i18n allauth account %}
{% load static %}
{% block content %}
{% include 'cssjslink.html' %}
<link href="{% static 'css/password.css' %}" rel="stylesheet">

<body>
<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
            </ol>
        </nav>
        <div class="reset-body">
                {% element h1 %}
                    {% trans "Password Reset" %}
                {% endelement %}
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div class="para">
                    <p>
                        {% trans "Enter your email address below," %}
                    </p>
                    <p>
                        {% trans "An email will be sent to reset your password." %}
                    </p>
                </div>
                {% url 'account_reset_password' as reset_url %}
                {% element form form=form method="post" action=reset_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans 'Reset My Password' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
{% endblock content %}