
{% load i18n %}
{% load allauth %}
{% load static %}

{% include 'cssjslink.html' %}
<link href="{% static 'css/password.css' %}" rel="stylesheet">

<body>
    <div class="container">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </nav>
        <div class="main-body">
            {% block content %}
                {% element h1 %}
                    {% trans "Change Password" %}
                {% endelement %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endblock content %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
