{% load i18n %}
{% load allauth %}
{% load account %}
{% load static %}
{% block content %}

    {% include 'cssjslink.html' %}
    <link href="{% static 'css/password.css' %}" rel="stylesheet">

    <body>
        <div class="container">
            <div class="main-body">
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                    </ol>
                </nav>
                {% block content_block %} 
                    {% element h1 %}
                        {% trans "Password Reset" %}
                    {% endelement %}
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <div class="para">
                        <p>
                            {% blocktrans %}We have sent you an email. {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}If you have not received it, please check your spam folder.{% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
                        </p>
                    </div>
                {% endblock content_block %}
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
{% endblock content %}
