
{% load i18n %}
{% load allauth %}
{% load static %}

<head>
    <title>{% trans "Third Party Sign Up" %}</title>
    {% include 'cssjslink.html' %}
    <link href="{% static 'css/password.css' %}" rel="stylesheet">     
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Third Party Sign Up</li>
            </ol>
        </nav>
        <div class="main-body">
            {% block content %}
                {% element h1 %}
                    {% trans "Sign Up" %}
                {% endelement %}
                <p>
                    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
                    {{site_name}}{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}As a final step, please complete the following form:{% endblocktrans %}
                </p>
                {% url 'socialaccount_signup' as action_url %}
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                        {% endif %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans "Sign Up" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endblock content %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>


