body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #d7d7d7;
    margin: 0;
    padding: 0;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
}
