{% load static %}
{% block content %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    {% include 'cssjslink.html' %}
    <link href="{% static 'css/genre.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .uppa {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    
        .main-body {
            flex: 1;
            width: 1100px;
        }

    </style>
</head>
<body>
    <div>
        {% include 'navbar.html' %}
    </div>
    <div class="container uppa">
        <div class="main-body">
            <h1 class="h11">Favorites List</h1>
            <div class="row g-5 d-flex align-items-stretch">
                {% for anime in favorite_animes %}
                    <div class="col-lg-4 wow slideInUp"">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <a href="{% url 'anime-detail' anime.id %}">
                                    <img class="img-fluid" src="{{ anime.image.url }}" alt="{{ anime.name }}" style="width: 400px; height: 400px;">
                                </a>
                            </div>
                            <div class="p-4 d-flex justify-content-between">
                                <a href="{% url 'anime-detail' anime.id %}" style="color: black;">
                                    <h5 class="mb-3">{{ anime.name }}</h5>
                                </a>
                                <a href="{% url 'remove-from-favorites' anime.id %}" class="text-danger" title="Remove from Favorites">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
{% endblock content %}