
{% load static %}
{% block content %}
<html>
<head>
    <title>My Events</title>
    {% include 'cssjslink.html' %}
    <link href="{% static 'css/updates.css' %}" rel="stylesheet">

</head>
<body>
    <div>
        {% include 'navbar.html' %}
    </div>
    <div class="container mika">
        <div class="main-body justify-content-center">
            <h3 class="mx-auto text-center">My Events:</h3>
            <div class="row g-5 evcard equal">
                {% for event in events %}
                    <div class="col-lg-4">
                        <div class="blog-item bg-light rounded overflow-hidden" style="border: 2px solid #ccc;">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="{{ event.event.image.url }}" style="width: 400px; height: 250px;">
                            </div>
                            <div class="p-4">
                                <h5 class="mx-auto text-center"><strong>{{ event.event.title }}</strong></h5>
                                <hr>
                                <p>Location: {{ event.event.location }}</p>
                                <p>Date: {{ event.event.date }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
{% endblock content %}