{% extends 'main.html' %} 
{% load static %}
{% block content %}


{% include 'cssjslink.html' %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">


<div class="container">
  <div class="main-body">
      <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Updates</li>
          </ol>
      </nav>

        <div class="row g-5" id="defaultProducts">
            {% for event in events %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden" style="border: 2px solid #ccc;">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="thumbnail" src="{{ event.image.url }}" style="width: 100%; height: auto; aspect-ratio: 4/4;" />
                        </div>
                        <div class="p-4">
                            <h6><strong>{{ event.title }}</strong></h6>
                            <hr>
                            <h4 style="display:inline-block; float: right;">{{ event.location }}</h4>
                            <h4 style="display:inline-block; float: right;">{{ event.date }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock content %}